In [1]:
 from google.colab import files
 upload = files.upload()

Saving mercedesbenz.csv to mercedesbenz.csv

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('mercedesbenz.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [8]:
df.head()

   ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0   0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
1   6   88.53   k  t  av  e  d  ...    0    0    0     0     0     0     0
2   7   76.26  az  w   n  c  d  ...    0    0    0     1     0     0     0
3   9   80.62  az  t   n  f  d  ...    0    0    0     0     0     0     0
4  13   78.02  az  v   n  f  d  ...    0    0    0     0     0     0     0

[5 rows x 378 columns]

In [9]:
df.describe()

                ID            y  ...         X384         X385
count  4209.000000  4209.000000  ...  4209.000000  4209.000000
mean   4205.960798   100.669318  ...     0.000475     0.001426
std    2437.608688    12.679381  ...     0.021796     0.037734
min       0.000000    72.110000  ...     0.000000     0.000000
25%    2095.000000    90.820000  ...     0.000000     0.000000
50%    4220.000000    99.150000  ...     0.000000     0.000000
75%    6314.000000   109.010000  ...     0.000000     0.000000
max    8417.000000   265.320000  ...     1.000000     1.000000

[8 rows x 370 columns]

In [10]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
i      18
aq     18
am     18
u      17
l      16
aw     16
ad     14
k      11
b      11
au     11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
ac      1
ab      1
g       1
Name: X0, dtype: int64

In [11]:
df[df['y']>100]

        ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0        0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
6       24  128.76  al  r   e  f  d  ...    0    0    0     0     0     0     0
8       27  108.67   w  s  as  e  d  ...    0    0    0     0     0     0     0
9       30  126.99   j  b  aq  c  d  ...    0    0    0     0     0     0     0
10      31  102.09   h  r   r  f  d  ...    0    0    0     0     0     0     0
...    ...     ...  .. ..  .. .. ..  ...  ...  ...  ...   ...   ...   ...   ...
4202  8402  123.34  ap  l   s  c  d  ...    0    0    0     0     0     0     0
4204  8405  107.39  ak  s  as  c  d  ...    0    0    0     0     0     0     0
4205  8406  108.77   j  o   t  d  d  ...    0    0    0     0     0     0     0
4206  8412  109.22  ak  v   r  a  d  ...    0    0    0     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  ...    0    0    0     0     0     0     0

[2004 rows x 378 columns]

In [25]:
data=('col1,col2,col3\n'
'x,y,1\n'
'a,b,2\n'
'c,d,3')
type(data)

str

In [16]:
from io import StringIO,BytesIO

In [23]:
StringIO(data)

In [24]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [26]:
df = pd.read_csv(StringIO(data),usecols=['col1','col2'])

In [27]:
df

  col1 col2
0    x    y
1    a    b
2    c    d

In [28]:
df['col1']

0    x
1    a
2    c
Name: col1, dtype: object

In [29]:
df['col1'][2]

'c'

In [30]:
dta = ('col1,col2,col3\n'
'1,2,3,4\n'
'5,6,7,8\n'
'9,10,11,12')

In [31]:
dfdta = pd.read_csv(StringIO(dta),dtype=int)
dfdta

   col1  col2  col3
1     2     3     4
5     6     7     8
9    10    11    12

In [32]:
dfdta = pd.read_csv(StringIO(dta),dtype=float)
dfdta

     col1  col2  col3
1.0   2.0   3.0   4.0
5.0   6.0   7.0   8.0
9.0  10.0  11.0  12.0

In [33]:
dfdta = pd.read_csv(StringIO(dta),dtype={'col1':int,'col2':float,'col3':'Int64'})
dfdta

   col1  col2  col3
1     2   3.0     4
5     6   7.0     8
9    10  11.0    12

In [34]:
dfdta['col1']

1     2
5     6
9    10
Name: col1, dtype: int64

In [35]:
dfdta['col1'][1]

2

In [36]:
type(dfdta['col1'][1])

numpy.int64

In [37]:
type(dfdta['col1'])

pandas.core.series.Series

In [38]:
data = ('index,a,b,c\n'
'4,apple,bat,5.7\n'
'8,orange,cow,10')

In [39]:
pd.read_csv(StringIO(data))

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

#make a column as index

In [40]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [43]:
pd.read_csv(StringIO(data),index_col=1)

        index    b     c
a
apple       4  bat   5.7
orange      8  cow  10.0

In [45]:
pd.read_csv(StringIO(data),,index_col=False)

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [47]:
pd.read_csv(StringIO(data),usecols=['b','c'],index_col=False)

     b     c
0  bat   5.7
1  cow  10.0

In [55]:
data = 'a b\n "hello, \\"Bob\\", nice to see you",5'

In [56]:
pd.read_csv(StringIO(data))

                                    a b
 "hello  \"Bob\"  nice to see you"    5

In [57]:
pd.read_csv(StringIO(data),escapechar='\\')

                                  a b
 "hello  "Bob"  nice to see you"    5